// variables
$color-typo: rgb(249, 245, 229);
$background-color: black;

// Mixins
@mixin default-item {
  background: $background-color;
  text-align: center;
  font-weight: bold;
  padding-top: 3.5rem;
  animation: opa 2s ease-in;
}

@mixin slide {
  width: 79rem;
  height: 41rem;
  margin: 1rem auto 0 auto;
  opacity: 1;
}

@mixin legend-p {
  display: inline;
  text-align: center;
  color: white;
  font-size: 1.5rem;
  font-family: 'Share Tech Mono', monospace;
  font-weight: 100;
  margin-right: 1.5rem;
}

@mixin img-container {
  width: 40rem;
  height: 40rem;
  margin: auto;
  border: .3rem solid white;
  -webkit-box-shadow: 0px .2rem 2.7rem -0.5rem rgba(0,0,0,1);
  -moz-box-shadow: 0px .2rem 2.7rem -0.5rem rgba(0,0,0,1);
  box-shadow: 0px .2rem 2.7rem -0.5rem rgba(0,0,0,1);
}

@mixin img-size {
  width: 100%;
  height: 100%;
}

@mixin arrows-wrapper {
  width: 40rem;
  height: 5rem;
  margin: 0 auto;
  text-align: center;
}

@mixin left-arrow {
  display: inline;
  margin-top: .7rem;
  margin-right: 1.5rem;
  float: left;
  padding-left: 1.5rem;
  cursor: pointer;
}

@mixin right-arrow {
  display: inline;
  float: right;
  margin-top: .7rem;
  padding-right: 1.5rem;
  cursor: pointer;
}




*, *::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing: inherit; }


html {
  font-size: 62.5%; /* 16/10= 0.62 */
}


 body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  background: $background-color;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

 canvas {
   opacity: 1;
   display: block;
 }



// GRID SLOTS

.container {
  display: grid;
  grid-template-columns: 12% auto 12%;
  grid-template-rows: 15% auto 15%;
  height: 95vh;
  color: $color-typo;
  font-family: 'Roboto Mono', monospace;
  letter-spacing: .2rem;
  font-size: 1.5rem;
  text-transform: uppercase;

  .item {
    @include default-item;

    & :hover {
      cursor: pointer;
    }
  }

  .item-1 {
    background: $background-color;
    text-align: center;
    font-weight: bold;
    padding-top: 3.5rem;
    animation: opa 2s ease-in;
  }

    & a {
      cursor: default;
    }

    & .line {
      height: 3.4rem;
      width: .1rem;
      background-color: white;
      margin: .5rem auto;
      animation: height 3s ease-in 2s infinite normal;
    }

    /* The animation code */
    @keyframes height {
      from {height: 0;}
      to {height: 3.4rem;}
    }


  .item-2 {
    text-align: center;
    background: $background-color;
    letter-spacing: .2rem;
    font-family: 'Felipa', cursive;
  }

    & h1 {
      font-size: 2.5rem;
      margin-top: 3.5rem;
      animation: opa 2s ease-in;

      & :hover {
        cursor: pointer;
      }
    }

    /* The animation code */
    @keyframes opa {
      0% {opacity: 0;}
      100% {opacity: 1;}
    }


  .item-4 {
    background: $background-color;
    animation: opa 2s ease-in;

    & .links-wrapper {
      margin: 0 auto;
      width: 13rem;
      height: 13rem;

      &:after {
        content: "";
        display: block;
        height: 0rem;
        width: .3rem;
        background-color: rgb(255, 255, 255);
        margin: 2rem auto;
        animation: height4 5s ease-in 4s infinite alternate;

        /* The animation code */
        @keyframes height4 {
          from {height:.1rem;}
          to {height: 25rem;}
        }
      }

      & .a {
        margin-top: 1.2rem;
        font-size: 1.3rem;
        padding-left: 4.2rem;
        cursor: pointer;

        &:after {
          content: "";
          display: block;
          bottom: 0;
          right: 0;
          width: 0%;
          transition: 0.5s ease;
          border-bottom: .2rem solid rgb(236, 248, 251);
          border-radius: 20%;
        }

        &:hover:after {
           width: 100%;
        }
      }
    }
  }

  .item-5 {
    background: $background-color;

    & .head-container {
      width: 40rem;
      height: 40rem;
      background: $background-color;
      margin: 2rem auto 0 auto;
      animation: opa 2s ease-in;
    }
  }

  .item-6 {
    background: $background-color;
    animation: opa 2s ease-in;

    & .line {
      height: 0px;
      width: .4rem;
      background-color: white;
      margin: auto;
      animation: height 5s ease-in-out 2s infinite alternate;

      /* The animation code */
      @keyframes height {
        from {height: 0;}
          to {height: 40rem;}
        }
    }
  }
}


// 2015
.work-slider-2015 {
   width: 80rem;
   height: 40rem;
   margin: 1.5rem auto 0 auto;
   opacity: 0;
   transform: translateY(-50rem);
   & .slide {
    @include slide;
   }
     & .img-container {
      @include img-container;
      }

      & img {
        @include img-size;
      }

      & .legend-arrows-wrapper {
        @include arrows-wrapper;

        & .paragraph-wrapper {
         height: 3rem;
         display: inline-block;
         margin-top: .7rem;
         padding: 1rem;
         font-size: 1.3rem;

         & p {
           @include legend-p;
         }
        }
      }

      & .left-arrow {
        @include left-arrow;

        &:hover {
          transform: scaleX(1.1) scaleY(1.1);
        }
      }

      & .right-arrow {
        @include right-arrow;

        &:hover {
          transform: scaleX(1.1) scaleY(1.1);
        }
      }
}


//2016

.work-slider-2016 {
   width: 80rem;
   height: 40rem;
   margin: 4rem auto 0 auto;
   opacity: 0;
   position: relative;
   bottom: 44rem;
   transform: translateY(-50rem);

  & .slide-2016 {
    @include slide;

    & .img-container-2016 {
     @include img-container;
     }

    & img {
     @include img-size;
    }

    & .legend-arrows-wrapper-2016 {
      @include arrows-wrapper;

      & .paragraph-wrapper-2016 {
       height: 3rem;
       display: inline-block;
       margin-top: .7rem;
       padding: 1rem;
      }

        & p {
          @include legend-p;
        }
    }

    & .left-arrow-2016 {
      @include left-arrow;
      &:hover {
        transform: scaleX(1.1) scaleY(1.1);
      }
    }

    & .right-arrow-2016 {
      @include right-arrow;

      &:hover {
        transform: scaleX(1.1) scaleY(1.1);
      }
    }
  }
}

//2017

/* SLIDER 2017 */

.work-slider-2017 {
   width: 80rem;
   height: 40rem;
   margin: 4.1rem auto 0 auto;
   opacity: 0;
   position: relative;
   bottom: 88rem;
   transform: translateY(-50rem);

   & .slide-2017 {
    @include slide;

    & .img-container-2017 {
     @include img-container;
     & img {
       @include img-size;
     }
   }

   & .legend-arrows-wrapper-2017 {
     @include arrows-wrapper;

     & .left-arrow-2017 {
       @include left-arrow;

       &:hover {
         transform: scaleX(1.1) scaleY(1.1);
       }
     }

     & .paragraph-wrapper-2017 {
      height: 3rem;
      display: inline-block;
      margin-top: .7rem;
      padding: 1rem;

      & p {
        @include legend-p;
      }
     }
    & .right-arrow-2017 {
       @include right-arrow;

       &:hover {
         transform: scaleX(1.1) scaleY(1.1);
       }
     }
   }
  }
}

//Slider Clients

.work-slider-clients {
   width: 80rem;
   height: 40rem;
   margin: 4.1rem auto 0 auto;
   opacity: 0;
   position: relative;
   bottom: 132rem;
   transform: translateY(-50rem);

   & .slide-clients {
    @include slide;

    & .img-container-clients {
     @include img-container;
     & img {
       @include img-size;
     }
   }
   & .legend-arrows-wrapper-clients {
     @include arrows-wrapper;

     & .left-arrow-clients {
       @include left-arrow;

       & :hover {
         transform: scaleX(1.1) scaleY(1.1);
       }
     }

     & .paragraph-wrapper-clients {
      height: 3rem;
      display: inline-block;
      padding: 1rem;
      margin-top: .7rem;
      & p {
        @include legend-p;
      }
     }

     & .right-arrow-clients {
       @include right-arrow;

       &:hover {
         transform: scaleX(1.1) scaleY(1.1);
       }
     }
   }
 }
}


// Slider Acid

.work-slider-acid {
   width: 80rem;
   height: 40rem;
   margin: 4rem auto 0 auto;
   opacity: 0;
   position: relative;
   bottom: 175.9rem;
   transform: translateY(-50rem);

   & .slide-acid {
    @include slide;

    & .img-container-acid {
     @include img-container;
     & img {
       @include img-size;
     }
  }
  & .legend-arrows-wrapper-acid {
      @include arrows-wrapper;

      & .left-arrow-acid {
        @include left-arrow;
        cursor: pointer;

        &:hover {
          transform: scaleX(1.1) scaleY(1.1);
        }
      }

      & .paragraph-wrapper-acid {
       height: 3rem;
       display: inline-block;
       padding: 1rem;
       margin-top: .7rem;
       & p {
         @include legend-p;
       }
     }

     & .right-arrow-acid {
       @include right-arrow;

       &:hover {
         transform: scaleX(1.1) scaleY(1.1);
       }
     }
   }
  }
}


// Slider Portraits

.work-slider-portraits {
   width: 80rem;
   height: 40rem;
   margin: 4rem auto 0 auto;
   opacity: 0;
   position: relative;
   bottom: 219.8rem;
   transform: translateY(-50rem);
   & .slide-portraits {
    @include slide;
    & .img-container-portraits {
     @include img-container;
     & img {
       @include img-size;
     }
    }
    & .legend-arrows-wrapper-portraits {
      @include arrows-wrapper;
      & .left-arrow-portraits {
        @include left-arrow;
        &:hover {
          transform: scaleX(1.1) scaleY(1.1);
        }
      }
      & .paragraph-wrapper-portraits {
       height: 3rem;
       display: inline-block;
       padding: 1rem;
       margin-top: .7rem;
       & p {
         @include legend-p;
       }
      }
      & .right-arrow-portraits {
        @include right-arrow;
        &:hover {
          transform: scaleX(1.1) scaleY(1.1);
        }
      }
     }
   }
  }


  /* ABOUT PANEL  */

  .about {
     width: 80rem;
     height: 41rem;
     margin: 4rem auto 0 auto;
     opacity: 0;
     position: relative;
     bottom: 264.1rem;
     transform: translateY(-51rem);
     & .about-panel {
      width: 79rem;
      height: 41rem;
      margin: 1rem auto 0 auto;
      opacity: 1;
      display: grid;
      grid-template-columns: 40% 60%;
     }
     & .self-portrait {
       margin: 1rem;
       & .image-wrapper {
         margin: 1.5rem;
         height: 35.6rem;
         border: .3rem solid white;
         & img {
           height: 100%;
           width: 100%;
         }
       }
     }
     & .text-section .bio {
       height: 15rem;
       margin: .5rem;
       & p {
         padding: .8rem;
         color: white;
         font-size: 1.5rem;
         font-family: 'Share Tech Mono', monospace;
         line-height: 2.2rem;
       }
     }
     & .shapes-wrapper {
       height: 23rem;
       margin: .5rem;
       & .shape-one {
         height: 16rem;
         border: .2rem solid white;
       }
       & .shape-two {
         height: 17rem;
         width: 43rem;
         border: .2rem solid white;
         position: relative;
         bottom: 15.1rem;
         left: 1.5rem;
       }
       & .shape-three {
         height: 18rem;
         width: 40rem;
         border: .2rem solid white;
         position: relative;
         bottom: 30.7rem;
         left: 3rem;
      }
    }
  }


//   .item-8 {
//     background: $background-color;
//     text-align: center;
//     padding-top: 3.5rem;
//     animation: opa 2s ease-in;
//   }
//
//
//   .item-8 .song-playing {
//     display: inline;
//     position: absolute;
//     visibility: hidden;
//     animation: pulse 3s ease-in-out 2s infinite alternate;
// }
// @keyframes pulse {
//   0% {
//     color: #ffffff;
//   }
//   100% {
//     color: black;
//   }
// }
//
//   .item-8 a {
//     font-size: 1rem;
//   }
