/* // for paragraphs ---> font-family: 'Share Tech Mono', monospace; */


html, body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
 canvas {
   opacity: 1;
   display: block;
 }

.container {
  display: grid;
  grid-template-columns: 15% auto 15%;
  grid-template-rows: 15% auto 15%;
  height: 621px;
  color: white;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
  font-size: 16px;
  text-transform: uppercase;
}

.item {
  background: black;
  text-align: center;
  font-weight: bold;
  padding-top: 35px;
}

.item-1 {
  background: black;
  text-align: center;
  font-weight: bold;
  padding-top: 35px;
}

.item-2 {
  text-align: center;
  background: black;
  font-family: 'Felipa', cursive;
}

.item-2 h1 {
  font-size: 20px;
  margin-top: 35px;
}

.item-5 {
  background: black;
}

.item-5 .head-container {
  width: 400px;
  height: 400px;
  background: black;
  margin: 20px auto 0 auto;
}
